<!DOCTYPE html>
<html>
  <head>
    <title>TOYOTA YTFF 抽獎登記</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<meta property="og:image" content="https://s3-api.us-geo.objectstorage.softlayer.net/tytimage/LINE_images_test/lottery_page/TOYOTA_LOGO.png" />
  </head>
  <script>
	window.location.href = "/register/";
  </script>
  <body>
  </body>
</html>
