<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--link rel='stylesheet' href='/stylesheets/style.css' /-->
	<style>
	a{
		cursor: default;
		margin: 12px;
		color: white;
		line-height: 26px;
	}
	</style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<div style='position:fixed;right:50px;bottom:50px;'>
		<a href='/after_watson' target='_blank'>與Watson之對話</a>
		<a href='/send_messages' target='_blank'>使用者說的話</a>
		<a href='/user_profile' target='_blank'>使用者資訊</a><br>
		<a href='/after_watson_prev' target='_blank'>與之前Watson之對話</a>
		<a href='/send_messages_prev' target='_blank'>之前使用者說的話</a>
		<a href='/user_profile_prev' target='_blank'>之前的使用者資訊</a><br>
		<a href='/fb_query_conversations' target='_blank'>FB撈對話資料</a>
	</div>
  </body>
</html>
