<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>千則訊息ResponseTime</title>
	
	<link rel="stylesheet" href="/stylesheets/jquery-ui.min.css">
	<link rel="stylesheet" href="/stylesheets/styles.css">
	<link rel="stylesheet" href="/stylesheets/common.css">
	<style>
	th{
		cursor: pointer;
	}
	td{
		word-break: break-all;
	}
	th, td:nth-child(1),td:nth-child(2),td:nth-child(5){
		word-break: keep-all;
	}
	
	td:nth-child(1),td:nth-child(5){
		text-align: right;
	}
	td:nth-child(3){
		width:120px;
		max-width:120px;
		word-break: break-all;
	}
	
	</style>
</head>
<body>
<div class="page-wrapper">
	<div class="input-field-wrap">
		<div style='height:0px;'>
			<a href="/">主目錄</a>
		</div>
		<div class="form-wrap">
			<div class="form-row">
				<span class='my-title'>千則訊息ResponseTime</span>
			</div>
		</div>
	</div>

	<div class="search-result-wrap" style="display:none;" >
		<div id="table_container"></div>
	</div>
</div>

<script type="text/javascript" src="/javascripts/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="/javascripts/common.js"></script>
<script>

function fetch_and_draw(){

	let query_view_para = {
		db_name : "line_prod_cloudantDB",
		table_name : "lineapi_log",
		view_name : "getResponseTime"
	};
	let query_data_para = {
		db_name : "line_prod_cloudantDB",
		table : "lineapi_log",
		cloudant_query : JSON.stringify({
			"selector":{},
			"fields":["time","input","outputStr","response_time","request_time"],
			"limit":1000,
			"sort": [{"time": "desc"}]
		}),
	};
	
	query_data( query_data_para, function(jsonData){
		console.log(jsonData);

		let data = jsonData.map(function(item,i){
			return {
				"-":i+1,
				"時間":item.time,
				"收到":item.input,
				"回答":item.outputStr,
				"回覆時間(毫秒)":item.response_time-item.request_time,
			}
		});
		$("#table_container").html(plain_table(data));
		$(".search-result-wrap").show();
	});
	
}

$(function(){
	fetch_and_draw();
	
});


</script>
</body>
</html>